[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"

[packages]
django = "~=2.2"
redis = "*"
celery = "~=4.3"
requests = "*"
python-dotenv = "*"
djangorestframework = "*"
django-celery-beat = "*"
django-celery-results = "*"

[requires]
python_version = "3.7"
