[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
rope = "*"

[packages]
django = "~=2.2"
redis = "~=3.2"
celery = "~=4.3"
requests = "~=2.21"
djangorestframework = "~=3.9"
django-celery-beat = "~=1.4"
django-celery-results = "~=1.0"
mysqlclient = "~=1.4"
django-cors-headers = "~=2.5"
django-filter = "~=2.1"
weasyprint = "==47"
django-weasyprint = "~=0.5"

[requires]
python_version = "3.7"
