/* fonts */
@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans Semibold";
  src: url("../fonts/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}

/* elements */
* {
  font-family: "OpenSans Regular";
}
h1 {
  font-family: "OpenSans ExtraBold";
}
h2 {
  font-family: "OpenSans Bold";
}
h3 {
  font-family: "OpenSans Semibold";
}
